@import "fonts.css";

/*
RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

header, hgroup,nav,section,article,aside,footer {display:block;}

body{
    /*Background Pattern */
    background-attachment: scroll, scroll, scroll, scroll, scroll, scroll;
    background-clip: border-box, border-box, border-box, border-box, border-box, border-box;
    background-color: #131313;
    background-image: -moz-linear-gradient(63deg, #151515 5px, transparent 5px), -moz-linear-gradient(243deg, #151515 5px, transparent 5px), -moz-linear-gradient(63deg, #222222 5px, transparent 5px), -moz-linear-gradient(243deg, #222222 5px, transparent 5px), -moz-linear-gradient(0deg, #1B1B1B 10px, transparent 10px), -moz-linear-gradient(#1D1D1D 25%, #1A1A1A 25%, #1A1A1A 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-origin: padding-box, padding-box, padding-box, padding-box, padding-box, padding-box;
    background-position: 0 5px, 10px 0px, 0 10px, 10px 5px, 0 0%, 0 0;
    background-repeat: repeat, repeat, repeat, repeat, repeat, repeat;
    background-size: 20px 20px;
    /* End */
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size:16px;
    margin-bottom:16px;
    line-height: 115%;
}

/* Line */
hr{
    margin-bottom:15px;
    color:#c0c0c0; /* Silver */
}

h1{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size: 40px;
    line-height:30px;
    color:#B22222; /* Fire Brick */
    margin-top:5px;
}

h2{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size:25px;
    line-height:25px;
    font-weight:bold;
    text-align:center;
    margin-bottom:16px;
}

h3{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    color:#00008B; /* Dark Blue */
    font-size:16px;
    font-weight:bold;
    text-align:left;
    margin-bottom:0px;
    margin-left:10px;
}

p{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size:14px;
    margin-bottom:16px;
    line-height: 115%;
    text-align:left;
}


/* Description List */
dt {
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size:14px;
    font-weight:bold;
    line-height: 115%;
    text-align:left;
}

dd {
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size:14px;
    line-height: 115%;
    text-align:left;
    margin-bottom:5px;
    margin-left:25px;
}


/* Unordered List */
ul.insideList {
	list-style-position:inside;
	list-style-type:square;
    font-size:16px;
}

li.a {
	margin-bottom:5px;
}



strong{
    font-weight:bold;
}


header{
    margin-top:25px;
    background-color:#fff;  
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0; 
    background-color:#FFFFF0; /* Ivory */
    padding:10px;
}


/* Navigation Bar */

a{
    color:#A53529; /*  */
}

a:hover
{ 
	background-color:#8FBC8F; /* Dark Sea Green */
}

nav {
    overflow:auto;
}

nav a{
	float:left;
	background-color:#2F4F4F; /* Dark Slate Gray */
	margin-right:3px;
	width:204px;
	color:#FFFFF0; /* Ivory */
	text-align:center;
	padding:4px 0;
	text-decoration:none;
}

nav .last{
    margin-right:0 !important;
}

#container{
    margin: 0 auto;
    width: 1032px;
}

#header-image{
    margin-left: 25px;
}


#content{
    margin-top:15px;
    margin-bottom:50px;
    background-color:#FFFFF0; /* Ivory */
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    padding:20px;
}



/* Divisions */

.clear{
    clear:both;
}

/* Home - index.html */
.profile{
	width: 200px;
	float: left;
}

.profileText{
	width: 770px;
	float:left;
	margin-left:20px;
}


/* Software Development */
.left{
    width: 340px;
    float:left;
    margin-top:10px;
    margin-bottom:50px;
}

.right{
    width: 630px;
    float:left;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:50px;
}

.center{
    text-align:center;
}

.split{
    float:left;
    width:410px;
    margin-left:10px;
}

.padded{
    margin-left:10px;
}



