@import "fonts.css";

/*
RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

header, hgroup,nav,section,article,aside,footer {display:block;}

body{
    /*Background Pattern */
    background-attachment: scroll, scroll, scroll, scroll, scroll, scroll;
    background-clip: border-box, border-box, border-box, border-box, border-box, border-box;
    background-color: #202020;
    background-image: -moz-linear-gradient(63deg, #151515 5px, transparent 5px), -moz-linear-gradient(243deg, #151515 5px, transparent 5px), -moz-linear-gradient(63deg, #222222 5px, transparent 5px), -moz-linear-gradient(243deg, #222222 5px, transparent 5px), -moz-linear-gradient(0deg, #1B1B1B 10px, transparent 10px), -moz-linear-gradient(#1D1D1D 25%, #1A1A1A 25%, #1A1A1A 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-origin: padding-box, padding-box, padding-box, padding-box, padding-box, padding-box;
    background-position: 0 5px, 10px 0px, 0 10px, 10px 5px, 0 0%, 0 0;
    background-repeat: repeat, repeat, repeat, repeat, repeat, repeat;
    background-size: 20px 20px;
    /* End */
    /* font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size:16px;
    margin-bottom:16px;
    line-height: 115%;
}

/* Line */
hr{
    margin-bottom:15px;
    color:#c0c0c0; /* Silver */
}

h1{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size: 40px;
    line-height:30px;
    color:#B22222; /* Fire Brick */
    margin-top:5px;
    margin-bottom:10px;
}

h2{
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size:25px;
    line-height:25px;
    font-weight:bold;
    text-align:center;
    margin-bottom:16px;
}

h3{
    font-family:  Arial, Helvetica, sans-serif;
    color:#4682B4; /* Steel Blue */
    font-size:16px;
    font-weight:bold;
    text-align:left;
    margin-bottom:0px;
}

p{
    font-family:  Arial, Helvetica, sans-serif;
    font-size:16px;
    margin-bottom:16px;
    line-height: 115%;
}


/* Description List */
dt {
    font-family:  Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    line-height: 115%;
    text-align:left;
}

dd {
    font-family:  Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height: 115%;
    text-align:left;
    margin-bottom:5px;
    margin-left:25px;
}


/* Unordered List */
ul.insideList {
	list-style-position:inside;
	list-style-type:square;
    font-size:16px;
}

li.a {
	margin-bottom:5px;
}


header{
    margin-top:25px;
    background-color:#fff;  
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0; 
    background-color:#FFFFFF; /* White */
    padding:10px;
}


#container{
    margin: 0 auto;
    width: 960px; /* Content Width = 920 */
}

#content{
    margin-top:15px;
    margin-bottom:50px;
    background-color:#FFFFFF; /* White */
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    padding:20px;
}


/* Navigation Bar */
nav {
    overflow:auto;
}

nav a{
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	float:left;
	background-color:#4682B4; /* Steel Blue */
	width:192px;
	color:#FFFFFF; /* White */
	text-align:center;
	padding:4px 0;
	text-decoration:none;
}

nav a:hover
{ 
	background-color:#B22222; /* Fire Brick */
}


/* Divisions */

.clear{
    clear:both;
}

/* Home - index.html */
.profile{
	width: 200px;
	float: left;
}

.profileText{
	width: 700px;
	float:left;
	margin-left:20px;
}


/* Software Development */
.left{
    width: 320px;
    float: left;
    margin-top:10px;
    margin-bottom:50px;
}

.right{
    width: 580px;
    float:left;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:50px;
}

/* System Design */
.systemImageLeft{
	width: 200px;
	margin-left:140px;
	margin-bottom:30px;
	float:left;
}

.systemImageMiddle{
	width: 200px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:30px;
	float:left;
}

.systemImageRight{
	width: 200px;
	margin-right:140px;
	margin-bottom:30px;
	float:left;
}

.systemContent{
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
}

/* Contact */

.contactMain{
	width:400px;
	padding:15px 10px 10px 10px; 
	background:#F0F8FF;
	border-color:#F0F8FF;
	border-radius:15px;
	border-style:outset;
	border-width:10px;
	margin-left:auto;
	margin-right:auto;
}

p.contact{

	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size:16px;
    text-align:center;
    margin-bottom:5px;
    line-height: 115%;
}

hr.contact{
	margin-top:15px;
    margin-bottom:15px;
}





